<launch>
  <!--Gazebo arguments-->
  <arg name="paused" default="false"/>
  <arg name="gui" default="false"/>

  <!--load signaturebot URDF to parameter server as robot_description-->
  <param name="robot_description" textfile="$(find fyp)/urdf/signaturebot.urdf"/>
  <!--load arm_controller and joint_limits to parameter server-->
  <rosparam file="$(find fyp)/config/controller.yaml" command="load"/>

  <!--launch empty_world in Gazebo with arguments-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <!--spawn controllers using controller managers-->
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
    args="signaturebot_controller" />

  <!--publish joint states to /tf for rviz etc-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    output="screen" />

  <!--spawn robot_description into Gazebo from parameter server-->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model signaturebot"/>

</launch>
