<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="collision_geometry">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.047073 0.060347 0.049366"
        rpy="0 0 0" />
      <mass
        value="0.23153" />
      <inertia
        ixx="0.00030207"
        ixy="3.9809E-07"
        ixz="3.125E-06"
        iyy="0.00038414"
        iyz="9.7198E-08"
        izz="0.00037784" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://collision_geometry/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.29804 0.29804 0.29804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://collision_geometry/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="pitch_link">
    <inertial>
      <origin
        xyz="6.0778E-11 0.0063557 1.3583E-09"
        rpy="0 0 0" />
      <mass
        value="0.0054988" />
      <inertia
        ixx="1.9103E-07"
        ixy="1.6034E-14"
        ixz="7.2936E-12"
        iyy="8.75E-07"
        iyz="-2.6183E-15"
        izz="9.7567E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://collision_geometry/meshes/pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.29804 0.29804 0.29804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://collision_geometry/meshes/pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="pitch"
    type="revolute">
    <origin
      xyz="0.096806 0.060005 0.15025"
      rpy="1.5708 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="pitch_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="yaw_link">
    <inertial>
      <origin
        xyz="1.2435E-09 6.4153E-10 0.013844"
        rpy="0 0 0" />
      <mass
        value="0.013171" />
      <inertia
        ixx="4.677E-07"
        ixy="-1.4037E-08"
        ixz="-1.9025E-23"
        iyy="4.6474E-07"
        iyz="2.6983E-23"
        izz="3.2054E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://collision_geometry/meshes/yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.52941 0.54902 0.54902 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://collision_geometry/meshes/yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="yaw"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="-1.5708 0 0" />
    <parent
      link="pitch_link" />
    <child
      link="yaw_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="extension_link">
    <inertial>
      <origin
        xyz="-3.1381E-06 -0.042372 0.015059"
        rpy="0 0 0" />
      <mass
        value="0.10542" />
      <inertia
        ixx="0.00016355"
        ixy="-3.429E-08"
        ixz="-4.6793E-08"
        iyy="0.00012833"
        iyz="-2.1234E-05"
        izz="4.155E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://collision_geometry/meshes/extension_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://collision_geometry/meshes/extension_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="extension"
    type="prismatic">
    <origin
      xyz="0 -0.0016148 -0.050079"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="yaw_link" />
    <child
      link="extension_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>